/* You can add custom styles here. */

// @import "plugins/numbered";

.center {
  display: block;
  text-align: center;
  width: 50%;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.header-v2 {
  display: block;
  font-size: 1.7rem;
  font-weight: normal;
}

@media screen and (max-width: $mobile-breakpoint) {
  .header-v2 {
    font-size: $font-size-16 * 1.1;
    font-weight: lighter;
    margin: auto 10px;
  }

  .markdown {
    width:100%;
  }
}

.katex {
  font-size: 1.1em !important;
}
